@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
:root{
    --primary: #fcf7d1;
    --secundary: #444444;
    --tertiary: #a9a17a;
}
body{
    color: var(--secundary);
    background-color: var(--primary);
    justify-content: center;
    margin-left: 35%;
    margin-top: 3%;
    font-size: 1em;
}
#titulo{
    color: var(--secundary);
    margin-left: 7%;
}
#subtitulo{
    color: var(--secundary);
    margin-left: 10%;
    margin-bottom: 2%;
}
#check{
    display: inline-block;
}
input, select, textarea, button {
    font-size: 1em;
    color: var(--secundary);
    border-radius: 5px;
}
fieldset{
    border: 0;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 2em;
}
.campo {
    margin-bottom: 1em;
}
.campo label {
    margin-bottom: 0.2em;
    color: var(--secundary);
    display: block;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid var(--secundary);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(230, 233, 233);
}
.grupo:before, .grupo:after {
    display: table;
}
.grupo:after {
    clear: both;
}
.botao{
    font-size: 1.3rem;
    font-style: var(--primary);
    padding: 0.2em;
    margin-left: 20%;
}
.botao:hover{
    background-color: var(--tertiary);
}
.botao, select{
    cursor: pointer;
}